$bg_container:#343134;
$bg_card: #544f54;
$bg_project: #6e686e;
$text: #ccc2cc;

.container {
    width: 100%;
    background-color: $bg_container;
    height: fit-content;
}

.start-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 50px;
    height: 90vh;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-row {
    padding-top: 20px;
    color: $text;
}

.example-spacer {
    flex: 1 1 auto;
}

.waiting-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 90vh;
}

.title-container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: $text;
    background-color: $bg_card;
    border-radius: 25px;
    padding: 40px;
    margin-top: 20px;
    font-weight: bold;

}

.model-name-container {
    font-size: 2em;
}

.finalIndex-container {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.finalmetrics-title {
    color: $text;
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold;
}

.finalmetrics-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 30px;
}

.metrics-card {
    width: 15%;
}

.card-title {
    color: $text;
    height: 12vh;
    text-align: center;
    font-weight: bold;
}

.card-spinner {
    margin: 0px auto;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    height: 8vh;
}

.runs-container {
    width: 90%;
}

.run-row {
    margin: 10px 0px;
}

.runpanel-title {
    font-size: 1.5em;
}
.runpanel-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5em;

}

.run-expansion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.run-metrics {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.run-card {
    width: 15%;
}

.run-card-title {
    color: $text;
    height: 8vh;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}

.run-card-spinner {
    margin: 0px auto;
}

.run-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-weight: bold;
    height: 4vh;
}

.run-projects {
    width: 100%;
}

.project-row {
    width: 100%;
    margin-top: 8px;
}

.proj-accordion {
    background-color: $bg_project;
}

.projectmetrics-title {
    color: $text;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
